In [17]:
# 모듈 로딩
import pandas as pd

# 파일
pop_d=pd.read_excel('./daegu_population_2020.xlsx')
cin_d=pd.read_excel('./daegu_cinema.xlsx')
pop_s=pd.read_csv('./seoul_population_2020.csv')
cin_s=pd.read_csv('./seoul_cinema.csv')

In [25]:
cin_d

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,상세영업상태명,소재지전화,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(X),좌표정보(Y),총층수,주변환경명,지상층수,지하층수,건물용도명,통로너비
0,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 7관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
1,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 6관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
2,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 5관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
3,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 4관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
4,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 3관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제2관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
139,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제3관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
140,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제4관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
141,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제5관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
142,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제6관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN

In [35]:
# 대구 영화관 수
cin_d.인허가일자.value_counts().count()

23

In [37]:
# 대구 스크린 수 
cin_d.사업장명.count()

143

In [38]:
cin_s

       기간  자치구  개소수  스크린수     좌석수
0    2017   합계   95   571  96,931
1    2017  종로구    9    34   6,410
2    2017   중구   12    47   8,306
3    2017  용산구    3    28   5,361
4    2017  성동구    1    10   1,846
..    ...  ...  ...   ...     ...
99   2020  관악구    2    13   2,181
100  2020  서초구    2    12   1,653
101  2020  강남구    9    54   8,208
102  2020  송파구    3    38   7,017
103  2020  강동구    3    26   4,334

[104 rows x 5 columns]

In [40]:
cin_s20=cin_s[cin_s['기간']==2020]
cin_s20

       기간   자치구  개소수  스크린수     좌석수
78   2020    합계   92   598  97,952
79   2020   종로구    9    28   4,340
80   2020    중구    9    42   7,704
81   2020   용산구    2    28   5,361
82   2020   성동구    2    17   2,887
83   2020   광진구    5    38   5,712
84   2020  동대문구    2    15   2,822
85   2020   중랑구    3    22   3,064
86   2020   성북구    2     8   1,238
87   2020   강북구    3    21   2,516
88   2020   도봉구    1     5     680
89   2020   노원구    5    28   4,590
90   2020   은평구    2    17   2,956
91   2020  서대문구    5    23   3,712
92   2020   마포구    6    36   5,771
93   2020   양천구    2    17   3,053
94   2020   강서구    5    35   5,849
95   2020   구로구    3    25   3,358
96   2020   금천구    2    14   2,660
97   2020  영등포구    3    28   5,308
98   2020   동작구    2     8     978
99   2020   관악구    2    13   2,181
100  2020   서초구    2    12   1,653
101  2020   강남구    9    54   8,208
102  2020   송파구    3    38   7,017
103  2020   강동구    3    26   4,334

In [43]:
# 서울 영화관 수
cin_s20.iloc[0,2]

92

In [44]:
# 서울 스크린 수
cin_s20.iloc[0,3]

598

In [45]:
pop_d

,1. 구.군별 세대 및 인구현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,대구광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020. 12. 31. 현재,NaN,NaN
2,구·군,합 계,NaN,NaN,한 국 인,NaN,NaN,NaN,외 국 인,NaN,NaN
3,NaN,인 구,NaN,NaN,세대,인 구,NaN,NaN,인 구,NaN,NaN
4,NaN,계,남,여,NaN,계,남,여,계,남,여
5,총계,2446144,1208020,1238124,1056627,2418346,1193109,1225237,27798,14911,12887
6,중구,77262,37132,40130,39111,76547,36799,39748,715,333,382
7,동구,343685,169034,174651,155865,341920,168443,173477,1765,591,1174
8,서구,172879,86770,86109,83437,170700,85572,85128,2179,1198,981
9,남구,148247,71170,77077,76582,146632,70471,76161,1615,699,916
10,북구,444923,221416,223507,187494,440263,219197,221066,4660,2219,2441
11,수성구,425987,205983,220004,170870,424314,205293,219021,1673,690,983
12,달서구,568481,281390,287091,235303,558631,275626,283005,9850,5764,4086
13,달성군,264680,135125,129555,107965,259339,131708,127631,5341,3417,1924