# DF 객체 연결하기

 - 여러개의 File에서 읽은 DF객체
 
 - 메서드 실행 결과 DF객체
 
 - 여러개의 DF객체를 연결 시켜서 하나의 DF객체 생성

In [18]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수들 선언
DIR_PATH='../Data/'
FILE_NAME1=DIR_PATH+'concat_1.csv'
FILE_NAME2=DIR_PATH+'concat_2.csv'
FILE_NAME3=DIR_PATH+'concat_3.csv'

In [19]:
# (1) CSV File => DataFrame 형태 데이터로 로딩
csvDF1=pd.read_csv(FILE_NAME1)
csvDF2=pd.read_csv(FILE_NAME2)
csvDF3=pd.read_csv(FILE_NAME3)

print(csvDF1.info(), csvDF2.info(), csvDF3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
 4   E       4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes
None None None

In [20]:
# DF객체들 연결하기 => (1) pandas.concat([df1,df2,...])
# 행방향 연결, 기본 인덱스 유지, 컬럼 합집합 => join='outer'(기본값, 비어있는 열에 nan)
df1=pd.concat([csvDF1,csvDF2,csvDF3])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
 4   E       4 non-null      object
dtypes: object(5)
memory usage: 576.0+ bytes

In [21]:
df.head()

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4

In [22]:
# DF객체들 연결하기 => (2) pandas.concat([df1,df2,...],join='inner')
# 행방향 연결, 기본 인덱스 유지, 컬럼 교집합 => join='inner'(비어있는 열은x)
df2=pd.concat([csvDF1,csvDF2,csvDF3],join='inner')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes

In [23]:
df2.head()

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4

In [24]:
# DF객체들 연결하기 => (3) pandas.concat([df1,df2,...],join='inner')
# 행방향 연결, 기본 인덱스 유지X, 컬럼 교집합 => ignore_index=True(인덱스다시정렬), join='inner'(비어있는 열은X)
df3=pd.concat([csvDF1,csvDF2,csvDF3],join='inner',ignore_index=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [25]:
df3.head()

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4

In [28]:
df3.index, df3.columns

(RangeIndex(start=0, stop=12, step=1),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [32]:
# DF 객체를 열방향으로 연결 => concat()
df4=pd.concat([csvDF1,csvDF2,csvDF3],join='inner', axis=1)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
 4   A       4 non-null      object
 5   B       4 non-null      object
 6   C       4 non-null      object
 7   D       4 non-null      object
 8   A       4 non-null      object
 9   B       4 non-null      object
 10  C       4 non-null      object
 11  D       4 non-null      object
 12  E       4 non-null      object
dtypes: object(13)
memory usage: 544.0+ bytes

In [33]:
df4.head()

    A   B   C   D   A   B   C   D    A    B    C    D    E
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8   e8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9   e9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10  e10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11  e11

In [34]:
df5=pd.concat([csvDF1,csvDF2,csvDF3],join='inner',keys=['DF1','DF2','DF3'])
df5.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('DF1', 0) to ('DF3', 3)
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 700.0+ bytes

In [35]:
df5.head()

        A   B   C   D
DF1 0  a0  b0  c0  d0
    1  a1  b1  c1  d1
    2  a2  b2  c2  d2
    3  a3  b3  c3  d3
DF2 0  a4  b4  c4  d4

In [38]:
df5.index

MultiIndex([('DF1', 0),
            ('DF1', 1),
            ('DF1', 2),
            ('DF1', 3),
            ('DF2', 0),
            ('DF2', 1),
            ('DF2', 2),
            ('DF2', 3),
            ('DF3', 0),
            ('DF3', 1),
            ('DF3', 2),
            ('DF3', 3)],
           )

In [40]:
df5.loc['DF1']

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [41]:
df5.loc[('DF1', 0)]

A    a0
B    b0
C    c0
D    d0
Name: (DF1, 0), dtype: object