In [1]:
# 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt
import platform

In [3]:
# 파일 불러오기
df=pd.read_excel('./Data/국가별 수출입 실적_202207201.xls',skiprows=4)

df

c:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,기간,국가명,수출건수,수출금액,수입건수,수입금액,무역수지
0,총계,NaN,"6,498,408","298,304,589","59,570,993","233,214,518","65,090,071"
1,2019.01,미국,"86,998","6,209,466","997,963","5,290,688","918,778"
2,2019.02,미국,"73,370","5,442,457","876,617","4,371,194","1,071,263"
3,2019.03,미국,"86,069","6,319,152","1,047,622","5,022,184","1,296,969"
4,2019.04,미국,"90,707","6,158,443","1,028,828","5,585,755","572,688"
5,2019.05,미국,"90,590","6,500,301","1,021,725","5,512,696","987,605"
6,2019.06,미국,"84,312","6,249,176","997,808","4,671,519","1,577,657"
7,2019.07,미국,"90,428","6,113,230","1,042,522","5,383,261","729,968"
8,2019.08,미국,"85,255","5,619,803","1,038,766","5,175,083","444,720"
9,2019.09,미국,"84,751","5,690,676","1,056,190","4,758,785","931,891"
10,2019.10,미국,"93,621","6,357,758","1,135,355","4,963,127","1,394,632"
11,2019.11,미국,"111,932","6,265,034","1,181,123","5,273,129","991,906"
12,2019.12,미국,"89,297","6,418,400","1,177,571","5,871,143","547,257"
13,2020.01,미국,"84,297","5,740,347","1,207,003","5,577,076","163,272"
14,2020.02,미국,"88,394","5,931,572","1,356,389","5,435,012","496,560"
15,2020.03,미국,"97,038","7,281,215","1,368,344","5,371,871","1,909,344"
16,2020.04,미국,"105,323","5,277,226","1,141,116","5,041,816","235,410"
17,2020.05,미국,"126,549","4,589,358","1,157,161","4,292,824","296,534"
18,2020.06,미국,"121,611","5,735,515","1,107,616","4,597,451","1,138,063"
19,2020.07,미국,"178,946","6,596,979","1,199,050","4,445,079","2,151,900"
20,2020.08,미국,"145,871","5,581,925","1,243,689","4,614,340","967,585"
21,2020.09,미국,"180,626","6,997,554","1,510,121","4,654,363","2,343,191"
22,2020.10,미국,"165,215","6,562,209","1,478,942","4,363,458","2,198,751"
23,2020.11,미국,"185,664","6,664,272","1,465,293","4,188,104","2,476,168"
24,2020.12,미국,"219,820","7,157,647","1,666,517","4,910,784","2,246,863"
25,2021.01,미국,"165,385","8,412,355","1,699,817","5,018,162","3,394,193"
26,2021.02,미국,"157,033","6,396,235","1,494,082","5,761,028","635,207"
27,2021.03,미국,"214,237","7,970,756","1,697,627","6,221,033","1,749,723"
28,2021.04,미국,"221,667","7,557,229","1,780,351","6,440,357","1,116,872"
29,2021.05,미국,"195,932","7,448,016","1,739,251","6,436,130","1,011,886"
30,2021.06,미국,"221,567","8,717,226","1,603,739","6,489,351","2,227,875"
31,2021.07,미국,"233,119","8,724,016","1,702,880","6,339,477","2,384,539"
32,2021.08,미국,"206,316","7,704,224","1,686,974","6,210,232","1,493,992"
33,2021.09,미국,"205,124","7,983,934","1,723,007","5,959,730","2,024,204"
34,2021.10,미국,"207,230","8,066,783","1,780,316","5,995,841","2,070,941"
35,2021.11,미국,"221,786","8,133,640","1,719,612","6,640,496","1,493,144"
36,2021.12,미국,"239,230","8,787,542","1,867,977","5,701,577","3,085,965"
37,2022.01,미국,"206,287","8,571,296","1,801,940","7,095,110","1,476,186"
38,2022.02,미국,"181,256","7,742,876","1,685,863","5,960,835","1,782,041"
39,2022.03,미국,"221,615","9,639,298","1,881,517","6,994,664","2,644,634"
40,2022.04,미국,"197,082","9,603,983","1,824,336","6,604,273","2,999,710"
41,2022.05,미국,"206,482","9,608,829","1,679,113","7,196,330","2,412,499"
42,2022.06,미국,"230,376","9,776,635","1,699,260","6,779,151","2,997,484"

In [11]:
# 총계 지우기
df=df.drop(0).reset_index(drop=True)
# 필요한 열만 추출
df2=df[df.columns[[0,3,5]]]

# 데이터 콤마 제거후 숫자로 변경 
for col in df2.columns[1:]:
    for i in range(df.shape[0]):
        df2[col][i]=df2[col][i].replace(',','')
    df2[col] = pd.to_numeric(df2[col])

# 기간컬럼 형태 변경
for i in range(df2.shape[0]):
    df2['기간'][i]=df2['기간'][i].replace('.','-')

# 컬럼명 변경
df2.rename(columns={'수출금액':'미국수출금액','수입금액':'미국수입금액'},inplace=True)
df2

C:\Users\User\AppData\Local\Temp\ipykernel_10676\1781688087.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col][i]=df2[col][i].replace(',','')
C:\Users\User\AppData\Local\Temp\ipykernel_10676\1781688087.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = pd.to_numeric(df2[col])
C:\Users\User\AppData\Local\Temp\ipykernel_10676\1781688087.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['기간'][i]=df2['기간'][i].replace('.','-')
C:\Users\User\AppData\Local\Temp\ipykernel_10676\1781688087.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'수출금액':'미국수출금액','수입금액':'미국수입금액'},inplace=True)

         기간   미국수출금액   미국수입금액
0   2019-08  5619803  5175083
1   2019-09  5690676  4758785
2   2019-10  6357758  4963127
3   2019-11  6265034  5273129
4   2019-12  6418400  5871143
5   2020-01  5740347  5577076
6   2020-02  5931572  5435012
7   2020-03  7281215  5371871
8   2020-04  5277226  5041816
9   2020-05  4589358  4292824
10  2020-06  5735515  4597451
11  2020-07  6596979  4445079
12  2020-08  5581925  4614340
13  2020-09  6997554  4654363
14  2020-10  6562209  4363458
15  2020-11  6664272  4188104
16  2020-12  7157647  4910784
17  2021-01  8412355  5018162
18  2021-02  6396235  5761028
19  2021-03  7970756  6221033
20  2021-04  7557229  6440357
21  2021-05  7448016  6436130
22  2021-06  8717226  6489351
23  2021-07  8724016  6339477
24  2021-08  7704224  6210232
25  2021-09  7983934  5959730
26  2021-10  8066783  5995841
27  2021-11  8133640  6640496
28  2021-12  8787542  5701577
29  2022-01  8571296  7095110
30  2022-02  7742876  5960835
31  2022-03  9639298  6994664
32  2022-04  9603983  6604273
33  2022-05  9608829  7196330
34  2022-06  9776635  6779151

In [ ]:

# 열 이름 수정
rate_A.rename(columns={'날짜':'기간','실제':'미국금리'}, inplace=True)
rate_K.rename(columns={'실제':'한국금리'}, inplace=True)

# 합치기
rate=pd.concat([rate_A,rate_K],axis=1)