# [실습] 
 
 - CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

In [71]:
# 모듈
import pandas as pd
# 파일
iris=pd.read_csv('../Data/iris2.csv',header=None)
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [72]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [73]:
pd.DataFrame(iris.describe().loc['max']).transpose()

       0    1    2    3
max  7.9  4.4  6.9  2.5

In [74]:
pd.DataFrame(iris.count()).transpose()

     0    1    2    3    4
0  147  150  150  150  150

In [78]:
# 컬럼 값이 NaN, Na인 것도 카운팅하고 싶음 => dropna 파라미터 값 False
iris[0].value_counts(dropna=False)

5.0    10
6.3     9
5.1     8
6.7     8
5.7     8
5.8     7
5.5     7
6.4     7
6.0     6
4.9     6
6.1     6
5.6     6
5.4     5
6.5     5
4.8     5
6.2     4
7.7     4
6.9     4
4.6     4
5.9     3
5.2     3
4.4     3
NaN     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: 0, dtype: int64