# 통계 관련 메서드 실습

 - 데이터에 대한 평균, 표준편차, 중앙값, 최밴값, 상관계수값 관련 메서드 활용
 
 - 데이터와 데이터의 관계, 데이터의 분포 등을 파악

In [1]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수들
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris.csv'

In [2]:
# (1) CSV File ==> DataFrame으로 로딩
iris=pd.read_csv(FILE_NAME)
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [3]:
# (2) DF 객체에 대한 통계 관련 메서드 적용
iris.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_10944\2283315696.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [4]:
iris.std()

C:\Users\User\AppData\Local\Temp\ipykernel_10944\3849825860.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [5]:
iris.median()

C:\Users\User\AppData\Local\Temp\ipykernel_10944\1297003277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [6]:
iris.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [14]:
# (3) 컬럼별 평균, 표준편차, 상관계수 출력하기

iris['SepalLength'].mean()

5.843333333333335

In [16]:
iris['SepalLength'].std()

0.8280661279778629

In [36]:
iris['SepalLength'].corr(iris['SepalWidth'])

-0.10936924995064937

In [33]:
iris[['SepalWidth','PetalLength']]

     SepalWidth  PetalLength
0           3.5          1.4
1           3.0          1.4
2           3.2          1.3
3           3.1          1.5
4           3.6          1.4
..          ...          ...
145         3.0          5.2
146         2.5          5.0
147         3.0          5.2
148         3.4          5.4
149         3.0          5.1

[150 rows x 2 columns]

In [62]:
for i in iris.columns[:-1]:
    print(f'--------------------{i}--------------------')
    print(f'{i} 평균 : ',iris[i].mean())
    print(f'{i} 표준편차 : ',iris[i].std())
    print(f'{i} 최빈값 : ',iris[i].mode().iloc[0])
    for j in iris.columns[:-1]:
        if i==j:
            pass
        else:
            print(f'{j} : ',iris[i].corr(iris[j]))

--------------------SepalLength--------------------
SepalLength 평균 :  5.843333333333335
SepalLength 표준편차 :  0.8280661279778629
SepalLength 최빈값 :  5.0
SepalWidth :  -0.10936924995064937
PetalLength :  0.8717541573048718
PetalWidth :  0.8179536333691636
--------------------SepalWidth--------------------
SepalWidth 평균 :  3.0540000000000007
SepalWidth 표준편차 :  0.4335943113621737
SepalWidth 최빈값 :  3.0
SepalLength :  -0.10936924995064937
PetalLength :  -0.42051609640115445
PetalWidth :  -0.35654408961380535
--------------------PetalLength--------------------
PetalLength 평균 :  3.7586666666666693
PetalLength 표준편차 :  1.7644204199522617
PetalLength 최빈값 :  1.5
SepalLength :  0.8717541573048718
SepalWidth :  -0.42051609640115445
PetalWidth :  0.9627570970509663
--------------------PetalWidth--------------------
PetalWidth 평균 :  1.1986666666666672
PetalWidth 표준편차 :  0.7631607417008414
PetalWidth 최빈값 :  0.2
SepalLength :  0.8179536333691637
SepalWidth :  -0.35654408961380535
PetalLength :  0.9627570970509663

5.0