# 시리즈(Series) 타입 실습 ----------------------------
 - Pandas 1종류(1차원 배열/세로 벡터) 데이터를 저장하는 데이터 타입(Type)
 
 - 생성 : Series 객체 생성

In [38]:
# 모듈로딩
import pandas as pd

# Series 객체 생성
sr=pd.Series([1,2,3,4])

In [39]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
# Series 객체의 속성 Attribute => 객체변수명.속성명
# 인덱스 속성
sr.index

RangeIndex(start=0, stop=4, step=1)

In [41]:
# 값 속성
sr.values

array([1, 2, 3, 4], dtype=int64)

In [42]:
# 차원(Dimetion) 속성
sr.ndim

1

In [43]:
# 형(shape) 속성
sr.shape

(4,)

In [44]:
# 실제 사용 메모리 byte, 데이터 개수
sr.nbytes, sr.size

(32, 4)

In [45]:
# 여러 타입의 데이터로 Series 객체 생성
sr2=pd.Series([1,4,'A',4.5])
sr2

0      1
1      4
2      A
3    4.5
dtype: object

In [46]:
# Series 객체 속성 읽기
print(f'index : {sr2.index}')
print(f'values : {sr2.values}'), print(f'type : {type(sr2.values)}')
print(f'array : {sr2.array}')
print(sr2)

index : RangeIndex(start=0, stop=4, step=1)
values : [1 4 'A' 4.5]
type : <class 'numpy.ndarray'>
array : <PandasArray>
[1, 4, 'A', 4.5]
Length: 4, dtype: object
0      1
1      4
2      A
3    4.5
dtype: object

In [47]:
# Dict 데이터로 Series 객체 생성
sr3=pd.Series({'name':'HONG','Age':'12','loc':'Daegu'})
sr3

name     HONG
Age        12
loc     Daegu
dtype: object

In [48]:
# Series 객체 생성
sr=pd.Series(['a','b','c'], index=['하나','둘','셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [49]:
sr2=pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [50]:
# 인덱스 새로운 값으로 설정 => 객체변수명.속성명=새로운값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

# 시리즈(Series) 객체의 원소/요소 다루기

 - 방법
    - 시리즈 객체[인덱스 번호]
    - 시리즈 객체[인덱스 라벨]

In [51]:
# 1번원소 읽기
sr2.index
sr2[22]

'b'

In [52]:
# 문자형 인덱스로 새롭게 설정 => 정수형인덱스와 함께 존재
sr2.index=['one','two','three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [53]:
sr2['two'], sr2[1], sr2['three'], sr2[2]

('b', 'b', 'c', 'c')

In [60]:
sr3=pd.Series({'name':'HONG','Age':'12'})
sr3

name    HONG
Age       12
dtype: object

In [57]:
sr3.index

Index(['name', 'Age'], dtype='object')

In [61]:
sr3['Age'],sr3['name']

('12', 'HONG')

In [62]:
sr3[0], sr3[1]

('HONG', '12')

In [63]:
sr4=pd.Series(('2022-06-30','Pandas',True,'4.55','No Work'))
sr4

0    2022-06-30
1        Pandas
2          True
3          4.55
4       No Work
dtype: object

In [64]:
sr4.index=['날짜','과목','불린','실수','희망사항']
sr4

날짜      2022-06-30
과목          Pandas
불린            True
실수            4.55
희망사항       No Work
dtype: object

In [76]:
# (1) 0번요소, 3번요소 4번요소 읽어서 출력
print(sr4[0], sr4[3],sr4[4])
print(sr4['날짜'],sr4['실수'],sr4['희망사항'])

print(type(sr4[0]), type(sr4[3]),type(sr4[4]))
print(sr4[[0,3,4]], type(sr4[[0,3,4]]))

2022-06-30 4.55 No Work
2022-06-30 4.55 No Work
<class 'str'> <class 'str'> <class 'str'>
날짜      2022-06-30
실수            4.55
희망사항       No Work
dtype: object <class 'pandas.core.series.Series'>

In [77]:
# (2) 1번요소부터 끝까지 요소값 출력
print(sr4[1:])
print(sr4['과목':])

과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object

In [80]:
# (2) 1번요소부터 3번요소까지 요소값 출력
print(sr4[1:4])
print(sr4['과목':'희망사항']) # 인덱스라벨은 끝원소로 포함

과목    Pandas
불린      True
실수      4.55
dtype: object
과목       Pandas
불린         True
실수         4.55
희망사항    No Work
dtype: object