# MySQL과 Python 연동하기
 - pymysql 설치

---
### 데이터 조회 순서
database 접속 : 연결자 = pymysql.connect()  
->cursor 생성 : 커서이름 = 연결자.cursor() -> 쿼리문에 의해 반환되는 결과값을 저장하는 공간  
->sql문 실행 : 커서이름.execute(‘쿼리문장’,args=None)  
　　　　　커서이름.executemany(‘쿼리문장’,튜플데이터)  
->조회 결과 가져오기 : 연결자.fetchall() (fetchall(), fecthone(), fetchmany(n))  
->MySQL 연결 종료 : 연결자.close()  커서.close()

### 데이터 추가, 수정, 삭제 순서
database 접속 -> cursor 생성 -> sql문 실행  
-> 실행 결과 확정 : 연결자.commit() 데이터를 추가, 수정, 삭제 등의 작업을 수행한 다음에 commit() 실행  
-> MySQL 연결 종료

### connect() 함수
 - host: DB가 존재하는 서버의 주소(localhost 또는 IP주소)
 - user: 사용자 ID
 - db: 연결할 데이터베이스 이름

In [11]:
import pymysql
import pandas as pd

conn = pymysql.connect(host='localhost', user='root',password='950603', db = 'sakila', charset='utf8')
                        # '127.0.0.1'
# 커서 객체 생성
cur=conn.cursor()

# sql문 실행
cur.execute('select * from language')

# 모든 데이터를 가져옴
rows = cur.fetchall()
print(rows)

# DataFrame 형태로 변환
language_df = pd.DataFrame(rows)
print(language_df)

# 커서 객체 닫기
cur.close() 

# DB연결 닫기
conn.close()

((1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)), (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)), (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)), (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)), (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)), (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19)))
   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

--- 
### 사용 함수
#### cursor() 함수
  - cursor 객체 생성
  - cursor: 쿼리문에 의해 반환되는 결과값을 저장하는 공간

#### cursor.execute(‘쿼리문장’, args=None) 함수
  - 작성한 쿼리를 실행
#### fetch 관련 함수
  - fetchall(): 모든 데이터를 한 번에 가져옴
  - fetchone(): 한 번 호출에 하나의 행만 가져옴
  - fetchmany(n): n개 만큼의 데이터를 가져옴
#### commit() 함수
  - 데이터를 추가, 수정, 삭제 등의 작업을 수행한 다음에 실행
#### close() 함수
  - MySQL과의 연결 종료

---
## 복잡한 쿼리 실행

In [13]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='950603', db = 'sakila', charset='utf8')
cur = conn.cursor()


# 실제 쿼리와 동일한 문자열 전달 (따옴표 주의)
query = """
select c.email
from customer as c

inner join rental as r
on c.customer_id = r.customer_id

where date(r.rental_date) = (%s)"""

cur.execute(query, ('2005-06-14'))

# 모든 데이터를 가져옴
rows = cur.fetchall()

for row in rows:
    print(row)

cur.close()
conn.close()

('CATHERINE.CAMPBELL@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('JEFFERY.PINSON@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)